/* i added some styling affects and animations */


#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 20px;
    
}

.grid-item{
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.grid-item:hover {
transform: scale(1.05);
box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.grid-item img{
    width: 100px;
    height: auto;
    border-radius: 8px;
}

.price {
    font-weight: bold;
    margin-top: 5px;
}

.description {
margin-top: 10px;
font-size: 0.9rem;
color: #555;

}